/* init */
html {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size:16px;
  margin: 8px;
  line-height: 1.2;
  background-color: #000;
  min-width:320px;
}

img{
  height: 100%;
  width: auto;
}

a {
  text-decoration:none;
  color: #fff
}

a:hover,
a:focus{
  text-decoration: none;
  color: #fff;
}

.btn {
	border-radius:unset;

}

span{
	font-size:20px;
	color:#fff;

}

/* header-top */

body header div.header-top{
  /* background-color: #000; */
  position: relative;
}

/* search */

#search::placeholder{
  color: #fff;
}


#search.form-control {
  border-radius: 0;
  box-shadow: 0 0 0 0.25rem rgba(0,0,0,0);
  border-color: #000;
  background-color:#000;
  color: #fff;
}

.header-top .panel-search{
  background-color:#000;
  max-height:50px;
  max-width:300px;
  border: 1px solid #ccc;
}


.header-top .panel-search:hover{
  background-color:#000;
  border-color:#fff;
  #icon-search .fa-solid{
    color:#fff;
  }
}


#icon-search .fa-solid{
  color:#ccc;
}

/* header-bottom */

.header-bottom{
  position:relative;
}

.header-bottom  .navbar-nav .nav-item .nav-link{
  color: #fff;
  font-size: 15px;

}

.navbar-toggler {
    color: #66da43
}

.header-bottom .application-item,
.header-bottom .service-item,
.header-bottom .portfolio-item,
.header-bottom .team-item,
.header-bottom .blog-item,
.header-bottom .store-item{
  display:block;
  height:40px;
  line-height:20px;
}



@media all and (min-width: 992px){

.header-bottom .active-page{
  background-color:#66da43;
}

.header-bottom .application-item:hover,
.header-bottom .service-item:hover,
.header-bottom .portfolio-item:hover,
.header-bottom .team-item:hover,
.header-bottom .blog-item:hover,
.header-bottom .store-item:hover{
  background-color: #44912D
}


.header-bottom .service-item span,
.header-bottom .portfolio-item  span,
.header-bottom .team-item  span,
.header-bottom .blog-item  span ,
.header-bottom .store-item  span{
  position:absolute;
  top:8px;
  height:40px;
  display: inline-block;
  width:1px;
  background-color:#fff;
}
}

/* main-container */

/* preferences-interface */

.preferences-interface{
	position:relative;
}

.preferences-interface .description-interface{
	position:relative;
	top:200px;
}

.preferences-interface .description-interface span{
	font-size:20px;
	color:#fff;
}

.preferences-interface .description-interface .main-word-design{
	color:#66da43;
}

.preferences-interface .description-interface .specialization-of-work{
	font-size:20px;
	line-height:normal;

}

.preferences-interface .description-interface .list-specialization-of-work{
	font-size:20px;
	line-height:normal;
}


.preferences-interface .description-interface .list-specialization-of-work li{
	color:#66da43;
}


/* carousel */
.my-carousel{
	padding: 0;
}
.my-carousel .carousel-item img {
	height:500px;
	max-width:320px;
}

/* circle-panel */
.my-carousel .carousel-indicators [data-bs-target] {
	width:7px;
	height:7px;
	border-radius:50%;
	margin-left:10px;
	margin-bottom: -10px;

}


@media (min-width: 768px){
/* arrow-left */
.carousel-control-prev-icon{
	position:relative;
	left:80px;
}
/* arrow-right */
.carousel-control-next-icon{
	position:relative;
	right:80px;
}
}


@media all and (max-width: 992px){
	.my-carousel{
		position:relative;
		top:150px;
	}
}

/* preferences-dop-main */
.preferences-interface .preferences-dop {
	margin-top:100px;
}

.preferences-dop .main-word-design-dop {
	color:#66da43;
}


@media all and (max-width: 992px){
	.preferences-interface .preferences-dop{
		margin-top:200px;

	}
}

/* bottom-advantage */

.bottom-svg-advantage .time img{
	max-height:50px;
}


.bottom-svg-advantage .result img{
	max-height:50px;
}



.bottom-svg-advantage .money-box img{
	max-height:50px;
}


@media (min-width: 992px){

.bottom-svg-advantage .time {
	position:absolute;
	left:140px;
}

.bottom-svg-advantage .money-box {
	position:absolute;
	left:470px;
}


.bottom-svg-advantage .result {
	position:absolute;
	left:800px;
}


/* text-svg */
.bottom-svg-advantage .description-svg-clock-text{
	position: absolute;
	right:150px;
}


.bottom-svg-advantage .description-svg-money-box-text{
	position: absolute;
	right:120px;
}

.bottom-svg-advantage .description-svg-result-text{
	position: absolute;
	right:150px;
}


.bottom-svg-advantage .result img{
	margin-left:15px;
}
}



.bottom-svg-advantage .description-svg-clock-text .cause-advantage .time-span-text{
	font-size:24px;
}


.bottom-svg-advantage .description-svg-clock-text .cause-advantage .time-text{
	font-size:18px;
}

.bottom-svg-advantage .description-svg-clock-text .cause-advantage .time-bottom-text {
	padding-left:30px;
}


.bottom-svg-advantage .description-svg-clock-text .cause-advantage .time-span-text-open{
	padding-left: 15px;
}

@media all and (max-width: 992px){

.bottom-svg-advantage .time img{
	margin-left:120px;
}


.bottom-svg-advantage .money-box img{
	margin-left:100px;
}


.bottom-svg-advantage .result img{
	margin-left:100px;
}

}

.bottom-svg-advantage .result-text {
	margin-left:50px;
}

/* developing-chat-bot bottom-main*/

@media (min-width: 992px){

.interface-demo-work-developing .description-interface-bot-telegram{

	position:absolute;
	left: 130px;
	top: 100px;
}

section.interface-demo-work-developing {
	position:relative;
	top:300px;
}

}

@media (max-width: 992px){

section.interface-demo-work-developing {
	position:relative;
}

.interface-demo-work-developing .description-interface-bot-telegram .text-developing{
	position:absolute;
	left: 40px;
}

.interface-demo-work-developing .description-interface-bot-telegram .logo-bottom{
	position:relative;
	left:20px;
}
}

.description-interface-bot-telegram img {
	min-height: 160px;
	min-width:303px;
}

.interface-demo-work-developing .description-interface-bot-telegram .text-developing span{
	font-size:24px;
}


.interface-demo-work-developing .description-interface-bot-telegram .text-developing .telegram-link{
	font-size:24px;
	color:#66da43;
	text-decoration:underline;
}



/* carousel-telegram-bot */
.my-carousel-telegram-bot{
	padding: 0;
}
.my-carousel-telegram-bot .carousel-item img {
	height:600px;
	max-width:320px;
}

@media (max-width:992px){

.my-carousel-telegram-bot {
	position:relative;
	top:250px;
	left:10px;
}
}

/* circle-panel */
.my-carousel-telegram-bot .carousel-indicators [data-bs-target] {
	width:7px;
	height:7px;
	border-radius:50%;
	margin-left:10px;
	position:relative;
	top:50px;
}

/* bottom-telegram-text */

.bottom-telegram-text span{
	font-size:18px;
	color:#fff;
}


.bottom-telegram-text{
	line-height:30px;
}

.bottom-telegram-text .link-span{
	text-decoration:underline;


}

@media (min-width:992px){
	.bottom-telegram-text {
		position:relative;
		left: 135px;
		top:10px;
	}
}


@media (max-width:992px){
	.bottom-telegram-text {
		position:relative;
		top:250px;
		left:25px;
	}
}

/* button-step-3d */

.service-button {
	background-color:#66da43;
	font-size:18px;
}
.service-button:hover{
	background-color:#000;
	color:#66da43;
}


@media (min-width:992px){
	.service-button {
		position:relative;
		left: 315px;
		top:70px;
	}
}


@media (max-width:992px){
	.service-button {
		position:relative;
		left:80px;
		top:300px;
	}
}


/* footer */
footer .footer-nav {
	position:relative;
	top:500px;

}


/* list-nav-footer */
.footer-nav .list-nav-footer{
	color:#fff;
	list-style:none;
	line-height:25px;
	font-size:14px;
}


/* list-nav-footer */
.footer-nav .list-nav-footer .header-list{
	color:#66da43;
	font-size:16px;
}

/* SERVICES */

.services{
  position:relative;
}

.services .service-header{
  font-size:24px;
  text-align:center;
  color:#66da43;
}

.service-card{
  position:relative;

}

.services .service-card .gif-img img{
  height:282px;
  width:310px;
  object-fit:cover;
}

.service-card .description-service p{
  font-size:16px;
  color:#fff;
}


.service-card .description-service p.service-card-name{
  font-size:20px;
  color:#66da43;
}

.service-card .service-link-card{
  font-size:14px;
  height:40px;
  width:142px;
  color:#000;
  background-color:#66da43;
}

.service-link-card:hover{
	background-color:#000;
	color:#66da43;
}

@media (min-width:992px){
.service-card .service-link-card{
  position:relative;
  top:73px;
}
}



































