/* init */
html {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size:16px;
  margin: 8px;
  line-height: 1.2;
  background-color: #000;
  min-width:320px;
}

img{
  height: 100%;
  width: auto;
}

a {
  text-decoration:none;
  color: #fff
}

a:hover,
a:focus{
  text-decoration: none;
  color: #fff;
}

.btn {
	border-radius:unset;

}

span{
	font-size:20px;
	color:#fff;

}

/* header-top */

body header div.header-top{
  /* background-color: #000; */
  position: relative;
}

/* search */

#search::placeholder{
  color: #fff;
}


#search.form-control {
  border-radius: 0;
  box-shadow: 0 0 0 0.25rem rgba(0,0,0,0);
  border-color: #000;
  background-color:#000;
  color: #fff;
}

.header-top .panel-search{
  background-color:#000;
  max-height:50px;
  max-width:300px;
  border: 1px solid #ccc;
}


.header-top .panel-search:hover{
  background-color:#000;
  border-color:#fff;
  #icon-search .fa-solid{
    color:#fff;
  }
}


#icon-search .fa-solid{
  color:#ccc;
}

/* header-bottom */

.header-bottom{
  position:relative;
}

.header-bottom  .navbar-nav .nav-item .nav-link{
  color: #fff;
  font-size: 15px;

}

.navbar-toggler {
    color: #66da43
}

.header-bottom .application-item,
.header-bottom .service-item,
.header-bottom .portfolio-item,
.header-bottom .team-item,
.header-bottom .blog-item,
.header-bottom .store-item{
  display:block;
  height:40px;
  line-height:20px;
}



@media all and (min-width: 992px){

.header-bottom .active-page{
  background-color:#66da43;
}

.header-bottom .application-item:hover,
.header-bottom .service-item:hover,
.header-bottom .portfolio-item:hover,
.header-bottom .team-item:hover,
.header-bottom .blog-item:hover,
.header-bottom .store-item:hover{
  background-color: #44912D
}


.header-bottom .service-item span,
.header-bottom .portfolio-item  span,
.header-bottom .team-item  span,
.header-bottom .blog-item  span ,
.header-bottom .store-item  span{
  position:absolute;
  top:8px;
  height:40px;
  display: inline-block;
  width:1px;
  background-color:#fff;
}
}

/* main-container */

/* preferences-interface */

.preferences-interface{
	position:relative;
}

.preferences-interface .description-interface{
	position:relative;
	top:200px;
}

.preferences-interface .description-interface span{
	font-size:20px;
	color:#fff;
}

.preferences-interface .description-interface .main-word-design{
	color:#66da43;
}

.preferences-interface .description-interface .specialization-of-work{
	font-size:20px;
	line-height:normal;

}

.preferences-interface .description-interface .list-specialization-of-work{
	font-size:20px;
	line-height:normal;
}


.preferences-interface .description-interface .list-specialization-of-work li{
	color:#66da43;
}


/* carousel */
.my-carousel{
	padding: 0;
}
.my-carousel .carousel-item img {
	height:500px;
	max-width:320px;
}

/* circle-panel */
.my-carousel .carousel-indicators [data-bs-target] {
	width:7px;
	height:7px;
	border-radius:50%;
	margin-left:10px;
	margin-bottom: -10px;

}


@media (min-width: 768px){
/* arrow-left */
.carousel-control-prev-icon{
	position:relative;
	left:80px;
}
/* arrow-right */
.carousel-control-next-icon{
	position:relative;
	right:80px;
}
}


@media all and (max-width: 992px){
	.my-carousel{
		position:relative;
		top:150px;
	}
}

/* preferences-dop-main */
.preferences-interface .preferences-dop {
	margin-top:100px;
}

.preferences-dop .main-word-design-dop {
	color:#66da43;
}


@media all and (max-width: 992px){
	.preferences-interface .preferences-dop{
		margin-top:200px;

	}
}

/* bottom-advantage */

.bottom-svg-advantage .time img{
	max-height:50px;
}


.bottom-svg-advantage .result img{
	max-height:50px;
}



.bottom-svg-advantage .money-box img{
	max-height:50px;
}


@media (min-width: 992px){

.bottom-svg-advantage .time {
	position:absolute;
	left:140px;
}

.bottom-svg-advantage .money-box {
	position:absolute;
	left:470px;
}


.bottom-svg-advantage .result {
	position:absolute;
	left:800px;
}


/* text-svg */
.bottom-svg-advantage .description-svg-clock-text{
	position: absolute;
	right:150px;
}


.bottom-svg-advantage .description-svg-money-box-text{
	position: absolute;
	right:120px;
}

.bottom-svg-advantage .description-svg-result-text{
	position: absolute;
	right:150px;
}


.bottom-svg-advantage .result img{
	margin-left:15px;
}
}



.bottom-svg-advantage .description-svg-clock-text .cause-advantage .time-span-text{
	font-size:24px;
}


.bottom-svg-advantage .description-svg-clock-text .cause-advantage .time-text{
	font-size:18px;
}

.bottom-svg-advantage .description-svg-clock-text .cause-advantage .time-bottom-text {
	padding-left:30px;
}


.bottom-svg-advantage .description-svg-clock-text .cause-advantage .time-span-text-open{
	padding-left: 15px;
}

@media all and (max-width: 992px){

.bottom-svg-advantage .time img{
	margin-left:120px;
}


.bottom-svg-advantage .money-box img{
	margin-left:100px;
}


.bottom-svg-advantage .result img{
	margin-left:100px;
}

}

.bottom-svg-advantage .result-text {
	margin-left:50px;
}

/* developing-chat-bot bottom-main*/

@media (min-width: 992px){

.interface-demo-work-developing .description-interface-bot-telegram{

	position:absolute;
	left: 130px;
	top: 100px;
}

section.interface-demo-work-developing {
	position:relative;
	top:300px;
}

}

@media (max-width: 992px){

section.interface-demo-work-developing {
	position:relative;
}

.interface-demo-work-developing .description-interface-bot-telegram .text-developing{
	position:absolute;
	left: 40px;
}

.interface-demo-work-developing .description-interface-bot-telegram .logo-bottom{
	position:relative;
	left:20px;
}
}

.description-interface-bot-telegram img {
	min-height: 160px;
	min-width:303px;
}

.interface-demo-work-developing .description-interface-bot-telegram .text-developing span{
	font-size:24px;
}


.interface-demo-work-developing .description-interface-bot-telegram .text-developing .telegram-link{
	font-size:24px;
	color:#66da43;
	text-decoration:underline;
}



/* carousel-telegram-bot */
.my-carousel-telegram-bot{
	padding: 0;
}
.my-carousel-telegram-bot .carousel-item img {
	height:600px;
	max-width:320px;
}

@media (max-width:992px){

.my-carousel-telegram-bot {
	position:relative;
	top:250px;
	left:10px;
}
}

/* circle-panel */
.my-carousel-telegram-bot .carousel-indicators [data-bs-target] {
	width:7px;
	height:7px;
	border-radius:50%;
	margin-left:10px;
	position:relative;
	top:50px;
}

/* bottom-telegram-text */

.bottom-telegram-text span{
	font-size:18px;
	color:#fff;
}


.bottom-telegram-text{
	line-height:30px;
}

.bottom-telegram-text .link-span{
	text-decoration:underline;


}

@media (min-width:992px){
	.bottom-telegram-text {
		position:relative;
		left: 135px;
		top:10px;
	}
}


@media (max-width:992px){
	.bottom-telegram-text {
		position:relative;
		top:250px;
		left:25px;
	}
}

/* button-step-3d */

.service-button {
	background-color:#66da43;
	font-size:18px;
}
.service-button:hover{
	background-color:#000;
	color:#66da43;
}


@media (min-width:992px){
	.service-button {
		position:relative;
		left: 315px;
		top:70px;
	}
}


@media (max-width:992px){
	.service-button {
		position:relative;
		left:80px;
		top:300px;
	}
}


/* footer */
footer .footer-nav {
	position:relative;
	top:500px;

}


/* list-nav-footer */
.footer-nav .list-nav-footer{
	color:#fff;
	list-style:none;
	line-height:25px;
	font-size:14px;
}


/* list-nav-footer */
.footer-nav .list-nav-footer .header-list{
	color:#66da43;
	font-size:16px;
}

/* SERVICES */

.services{
  position:relative;
}

.services .service-header{
  font-size:24px;
  text-align:center;
  color:#66da43;
}

.service-card{
  position:relative;

}

.services .service-card .gif-img img{
  height:282px;
  width:310px;
  object-fit:cover;
}

.service-card .description-service p{
  font-size:16px;
  color:#fff;
}


.service-card .description-service p.service-card-name{
  font-size:20px;
  color:#66da43;
}

.service-card .service-link-card{
  font-size:14px;
  height:40px;
  width:142px;
  color:#000;
  background-color:#66da43;
}

.service-link-card:hover{
	background-color:#000;
	color:#66da43;
}

@media (min-width:992px){
.service-card .service-link-card{
  position:relative;
  top:73px;
}
}

/* PORTFOLIO */


.prototype-works{
  position:relative;
}

.prototype-works .header-prototype-portfolio span{
  letter-spacing:normal;
  color:#fff;
  font-size:16px;
  margin-left:50px;
}


.body-prototype-portfolio .col-lg-3 img{
  position:relative;
  right:10px;
  object-fit:cover;
}



.prototype-works .body-prototype-portfolio .btn{
  margin-left:50px;
}


.prototype-works .body-prototype-portfolio img{
  width:314px;
  height:418px;
  /* filter: grayscale(0); */
}


/* .prototype-works .body-prototype-portfolio img:hover{ */
  /* filter: grayscale(50%); */
/* } */


/* carousel-portfolio */
.modal-body  .carousel-item img{
  height:709px;
  width:709px;
}

/* circle-panel */
.prototype-works .carousel-indicators [data-bs-target] {
	width:7px;
	height:7px;
	border-radius:50%;
	margin-left:10px;
	margin-bottom: -10px;
}

/* art-russia */
.header-prototype-portfolio .art-block-img{
  margin-left:50px;
}

.header-prototype-portfolio .art-block-img img{
  width:976px;
  height:547px;
}

.header-prototype-portfolio .img-thumbnail{
  padding: .1rem;
}

/* carousel art-russia */
.body-prototype-portfolio .carousel-portfolio-art-russia .carousel-photo-girls{
  height:710px;
  width:532px;
}

/* footer-main-navigation */

.footer-main-navigation a{
  font-size:18px;
}


.footer-main-navigation .button-link-example{
  color:#fff
}


.footer-main-navigation .button-link-group{
  color:#D6FB51
}

.footer-main-navigation .button-link-appreciate{
  background-color:#C7F7D8;
}


/* hover */
.footer-main-navigation .button-link-example:hover,
.footer-main-navigation .button-link-group:hover{
  color:#000;
  background-color:#cccc;
}

@media (min-width:992px){
  .footer-main-navigation .button-link-appreciate{
    width:190px;
    height:40px;
  }
}



@media (max-width:992px){

  .footer-main-navigation .button-link-appreciate{
    margin-left:10px;
  }


  .footer-main-navigation .button-link-group{
    margin-left:3px;
  }
}



/* COMMUNITY PAGE */

.community-step .description-community{
  position:relative;
  top:100px;
}

.description-community .header-community{
  color:#66da43
}


@media (min-width:992px){
.community-step{
  position:relative;
  left:30px;
  top:80px;
}
}

@media (max-width:992px){
  .logo-community img{
    width:350px;
    height:auto;

  }
}


.description-community .main-community{
  font-size:18px;
  line-height: 1.67em;
  letter-spacing:normal;
  color:#fff;
}

.presentation-link span{
  color:#66da43;
  letter-spacing:normal;
  font-size:24px;
}

/* executor */

.executor-who{
  position:relative;
  top:200px;
}

.executor-who .executor-header{
  color:#66da43;

}

.executor-who .executor-main{
  color:#fff;
  font-size:18px;
  letter-spacing:normal;
  line-height:35px;
}

.join-in-group{
  position:relative;
  top:300px;
}

.join-in-group .join-header{
  color:#66da43;
}

.join-in-group ul.join-main{
  list-style:decimal;
  color:#fff;
  line-height:30px;
  font-size:18px;
  letter-spacing:normal;
}


/* form-commentary */

.commentary{
  position:relative;
  top:300px;
}

.commentary label{
  font-size:13px;
}


/* button-form */
.commentary .btn-sub{
  font-size:12px;
  color:#fff;
}

.commentary .button-block{
  max-width:40.9rem;
}



.commentary .button-block:hover{
  .btn-sub{
    color:#000;
  }
  background-color:#9C9C9C;
  cursor:pointer;
}

@media (min-width:992px){
.commentary{
  left:150px;
}
}

#inputMessage{
  max-height:16.0rem;
  height:16.0rem;
}


/* bootstrap-form-commentary */
/* cursor-textarea */
.form-floating>.form-control-plaintext:focus, .form-floating>.form-control-plaintext:not(:placeholder-shown), .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top:0.6rem;
    padding-bottom:0.3rem;
}

.commentary .form-control {
    background-color: #000;
    border-radius:0;
    color:#fff;
    /* height:40px; */
    /* width:250px; */
}

.commentary .form-control:focus,
.commentary .form-control:hover {
  border-color:#fff;
  box-shadow: 0 0 0 0rem;
  /* border: 0.125rem solid #fff; */
}



/* KUROCHKIN PAGE */
/* header-main */
.exhibition-Kurochkin.photo-Kurochkin{
  width:245px;
  height:662px;
  object-fit:cover;
  /* object-position: 50% 50%; */
}


.header{
  font-size:54px;
  color:#fff;
}


.body{
  font-size:16px;
  color:#fff;
  line-height:1.8em;
}

.exhibition-Kurochkin .describe-exhibition-Kurochkin .link-site-kurochkin{
  color:#66da43;
  text-decoration:underline;
}


.address-exhibition .address-where{
  color:#fff;
  font-size:20px;
}

/* adaptive */
@media(min-width:992px){
.exhibition-Kurochkin .describe-exhibition-Kurochkin{
  position:relative;
  top:100px;
  right:50px;
}
section.address-exhibition{
  position:relative;
  left:500px;
  top:200px;
}
.address-exhibition .address-where{
  text-indent:70px;
}

.address-exhibition .button-exhibition-virtual{
  margin-left:150px;

}
}

/* button */
.address-exhibition .button-exhibition-virtual{
  color:#000;
  font-size:14px;
  background-color:#66da43;
  width:142px;
  height:42px;
}

.address-exhibition .button-exhibition-virtual:hover{
  color:#66da43;
  background-color:#000;
  border: 1px solid #66da43;
}


/* kurochkin-portfolio */

.kurochkin-portfolio .header-portfolio{
  font-size:16px;
  margin-left:13px;
}


.kurochkin-portfolio .body-portfolio img.fly-woomen{
  width:483px;
  height:322px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.mother-with-son{
  width:241px;
  height:158px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.woomen-with-man{
  width:236px;
  height:158px;
  object-fit:cover;
}

.kurochkin-portfolio .body-portfolio img.fly-woomen-other-side{
  width:237px;
  height:158px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.woomen-with-man-other-side{
  width:236px;
  height:158px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.old-man-sofa{
  width:487px;
  height:322px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.painter{
  width:197px;
  height:294px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.painter-other-side{
  width:196px;
  height:294px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.old-man-branch-other-side{
  height:378px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.old-man-branch{
  height:269px;
  width:403px;
  object-fit:cover;
}
.kurochkin-portfolio .body-portfolio img.old-man-branch-zoom{
  width:279px;
  object-fit:cover;
}

.kurochkin-portfolio .body-portfolio img.young-man-branch{
  width:278px;
  height:185px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.young-man-branch-other-side{

  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.old-man-chair{
  width:140px;
  height:205px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.old-man-blanket{
  width:308px;
  height:205px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.young-man-branch-front{
  width:251px;
  height:167px;
  object-fit:cover;
}
.kurochkin-portfolio .body-portfolio img.picaso{
  width:251px;
  height:167px;
  object-fit:cover;
}

.kurochkin-portfolio .body-portfolio img.old-man-blanket-front{
  width:458px;
  height:304px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.priest{
  width:485px;
  height:727px;;
  object-fit:cover;
}
.kurochkin-portfolio .body-portfolio img.demo-work{
  width:485px;
  height:727px;;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.meirhold{
  width:485px;
  height:647px;
  object-fit:cover;
}

.kurochkin-portfolio .body-portfolio img.portrait-mandu{
  width:485px;
  height:647px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.worker-man{
  width:233px;
  height:310px;
  object-fit:cover;
}
.kurochkin-portfolio .body-portfolio img.Jesus{
  width:232px;
  height:310px;
  object-fit:cover;
}

.kurochkin-portfolio .body-portfolio img.photo-Kurochkin{
  width:495px;
  height:636px;
  object-fit:cover;
}


.kurochkin-portfolio .body-portfolio img.author-Kurochkin{
  width:475px;
  height:316px;
  object-fit:cover;
}






@media (min-width:992px){


.kurochkin-portfolio{
position:relative;
top:300px;
}


.kurochkin-portfolio .body-portfolio img.mother-with-son{
position:relative;
right:47px;
}


.kurochkin-portfolio .body-portfolio img.woomen-with-man{
  position:relative;
  right:120px;
}

.kurochkin-portfolio .body-portfolio img.fly-woomen-other-side{
  position:relative;
  bottom:20px;
}
.kurochkin-portfolio .body-portfolio img.woomen-with-man-other-side{
  position:relative;
  bottom:20px;
  right:76px;
}
.kurochkin-portfolio .body-portfolio img.old-man-sofa{
  position:relative;
  bottom:185px;
  right:155px;
}


.kurochkin-portfolio .body-portfolio img.painter{
  position:relative;
  bottom:203px;
}

.kurochkin-portfolio .body-portfolio img.painter-other-side{
  position:relative;
  bottom:203px;
  right:117px;
}
.kurochkin-portfolio .body-portfolio img.old-man-branch-other-side{
  position:relative;
  bottom:203px;
  right:235px;
  min-width:567px;
}


.kurochkin-portfolio .body-portfolio img.old-man-branch{
  position:relative;
  bottom:307px;
}
.kurochkin-portfolio .body-portfolio img.old-man-branch-zoom{
  position:relative;
  bottom:223px;
  height:185px;
  right:235px;
}
.kurochkin-portfolio .body-portfolio img.young-man-branch{
  position:relative;
  bottom:223px;
  right:270px;
}

.kurochkin-portfolio .body-portfolio img.young-man-branch-other-side{
  width:512px;
  height:342px;
  position:relative;
  bottom:327px;
}
.kurochkin-portfolio .body-portfolio img.old-man-chair{
  position:relative;
  bottom:327px;
  right:125px;
}

.kurochkin-portfolio .body-portfolio img.old-man-blanket{
  position:relative;
  bottom:327px;
  right:299px;
}

.kurochkin-portfolio .body-portfolio img.young-man-branch-front{
  position:relative;
  bottom:347px;
}
.kurochkin-portfolio .body-portfolio img.picaso{
  position:relative;
  bottom:347px;
  right:63px;

}
.kurochkin-portfolio .body-portfolio img.old-man-blanket-front{
  position:relative;
  bottom:483px;
  right:125px;
}


.kurochkin-portfolio .body-portfolio img.priest{
  position:relative;
  bottom:503px;
}
.kurochkin-portfolio .body-portfolio img.demo-work{
  position:relative;
  bottom:503px;
  right:153px;
}

.kurochkin-portfolio .body-portfolio img.meirhold{
  position:relative;
  bottom:523px;
}
.kurochkin-portfolio .body-portfolio img.portrait-mandu{
  position:relative;
  bottom:523px;
  right:153px;
}


.kurochkin-portfolio .body-portfolio img.worker-man{
  position:relative;
  bottom:543px;
}
.kurochkin-portfolio .body-portfolio img.Jesus{
  position:relative;
  bottom:543px;
  right:80px;
}
.kurochkin-portfolio .body-portfolio img.photo-Kurochkin{
  position:relative;
  bottom:543px;
  right:163px;
}


.kurochkin-portfolio .body-portfolio img.author-Kurochkin{
  position:relative;
  bottom:890px;
}

}

@media (max-width:992px){

.kurochkin-portfolio{
  position:relative;
  top:100px;
}

.kurochkin-portfolio .body-portfolio img.mother-with-son{
  position:relative;
  right:20px;
}


.kurochkin-portfolio .body-portfolio img.woomen-with-man{
  position:relative;
  right:40px;
}

.kurochkin-portfolio .body-portfolio img.fly-woomen-other-side{
  position:relative;
  bottom:24px;
  width:292px;
}
.kurochkin-portfolio .body-portfolio img.woomen-with-man-other-side{
  position:relative;
  bottom:24px;
  right:20px;
  width:292px;
}

.kurochkin-portfolio .body-portfolio img.old-man-sofa{
  position:relative;
  bottom:188px;
  right:40px;
}


.kurochkin-portfolio .body-portfolio img.painter{
  position:relative;
  bottom:210px;
}
.kurochkin-portfolio .body-portfolio img.painter-other-side{
  position:relative;
  bottom:210px;
  right:20px;
}
.kurochkin-portfolio .body-portfolio img.old-man-branch-other-side{
  position:relative;
  bottom:210px;
  right:40px;
}

.kurochkin-portfolio .body-portfolio img.old-man-branch{
  position:relative;
  bottom:317px;
}
.kurochkin-portfolio .body-portfolio img.old-man-branch-zoom{
  position:relative;
  bottom:317px;
  height:269px;
  right:20px;
}
.kurochkin-portfolio .body-portfolio img.young-man-branch{
  position:relative;
  width:200px;
  bottom:233px;
  right:40px;
}


.kurochkin-portfolio .body-portfolio img.young-man-branch-other-side{
  position:relative;
  bottom:340px;
  height:185px;
}


.kurochkin-portfolio .body-portfolio img.old-man-chair{
  position:relative;
  bottom:340px;
  right:20px;
  height:120px;
}

.kurochkin-portfolio .body-portfolio img.old-man-blanket{
  position:relative;
  bottom:340px;
  right:40px;
  height:120px;
}


.kurochkin-portfolio .body-portfolio img.young-man-branch-front{
  position:relative;
  bottom:363px;
  width:292px;
}

.kurochkin-portfolio .body-portfolio img.picaso{
  position:relative;
  bottom:363px;
  width:292px;
  right:20px;
}
.kurochkin-portfolio .body-portfolio img.old-man-blanket-front{
  position:relative;
  bottom:428px;
  width:470px;
  right:40px;
  height:232px;
}

.kurochkin-portfolio .body-portfolio img.priest{
  position:relative;
  bottom:450px;
  height:285px;
}
.kurochkin-portfolio .body-portfolio img.demo-work{
  position:relative;
  bottom:450px;
  right:13px;
  height:285px;
}

.kurochkin-portfolio .body-portfolio img.meirhold{
  position:relative;
  bottom:470px;
  height:240px;
}
.kurochkin-portfolio .body-portfolio img.portrait-mandu{
  position:relative;
  bottom:470px;
  right:13px;
  height:240px;
}


.kurochkin-portfolio .body-portfolio img.worker-man{
  position:relative;
  bottom:490px;
  height:180px;
}
.kurochkin-portfolio .body-portfolio img.Jesus{
  position:relative;
  bottom:490px;
  right:20px;
  height:180px;

}

.kurochkin-portfolio .body-portfolio img.photo-Kurochkin{
  position:relative;
  bottom:490px;
  right:40px;
  height:350px;
}


.kurochkin-portfolio .body-portfolio img.author-Kurochkin{
  position:relative;
  bottom:680px;
  height:160px;
}

}


/* carousel-Kurochkin */


.kurochkin-portfolio .body-portfolio .carousel-works-Kurochkin img{
  object-fit:cover;
}


/* contacts main*/
.contacts-main{
  position:relative;
  bottom:520px;
}

@media(min-width:992px){
.contacts-main .header{
  position:relative;
  left:400px;
}

}

.contacts-main h4{
  color:#fff;
  font-size:26px;
  line-height:50px;
}

.contacts-main p{
  color:#fff;
  font-size:16px;
  line-height:30px;
}








