/* init */
html {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size:16px;
  margin: 8px;
  line-height: 1.2;
  background-color: #000;
  min-width:320px;
}

img{
  height: 100%;
  width: auto;
}

a {
  text-decoration:none
  color: #fff
}

a:hover,
a:focus{
  text-decoration: none;
  color: #fff;
}

/* header-top */

body header div.header-top{
  background-color: #000;
  position: relative;
}

/* search */

#search::placeholder{
  color: #fff;
}


#search.form-control {
  border-radius: 0;
  box-shadow: 0 0 0 0.25rem rgba(0,0,0,0);
  border-color: #000;
  background-color:#000;
  color: #fff;
}

.header-top .panel-search{
  background-color:#000;
  max-height:40px;
  max-width:300px;
  border: 1px solid #ccc;
}


.header-top .panel-search:hover{
  background-color:#000;
  border-color:#fff;
  #icon-search .fa-solid{
    color:#fff;
  }
}


#icon-search .fa-solid{
  color:#ccc;
}
